*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: wheat;
}

form{
    background-color: violet;
    padding: 2rem 3rem;
    max-width: 700px;
    margin: 3rem auto;
}

div{
    width: 100%;
    max-width: 600px;
    padding: 1.3rem 0;
    margin: auto;
}

input{
    margin: .5rem 0;
    padding: .3rem;
}

.dados-container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.dados{
    width: 75%;
}