*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Cor-2);
    font-size: 32px;
    font-family: var(--fonte-Poppins);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

:root{
    --fonte-Poppins: 'Poppins', sans-serif;

    --Cor-1: #C9F2C7;
    --Cor-2: #ACECA1;
    --Cor-3: #96BE8C;
    --Cor-4: #84ACCE;
    --Cor-5: #827191;
}


/*============================= Cabeçalho =============================*/


.header-container{
    background-image: linear-gradient(to bottom, var(--Cor-4), #DBD5A4);
    width: 100%;
    height: 50vh;
    
    
    /*
    background-image: url("imagens/capa-b-mulher-m.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    */
}


/*
img{
    width: 100%;
    
}

div.img{
    width: 1440px;
    height: 900px;
}
*/

    /*----- gradiente no texto -------*/
    /*
    background: -webkit-linear-gradient( #6610F2, #00D4FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    */

/*========================== Menu ================================*/

.nav-container{
    width: 100%;
    position: sticky;
    top: -1px;
}


.nav-menu{
    background-color: black;
    max-width: 985px;
    height: 30px;
    margin: 0 auto;
    padding: 20px 0px;
    font-size: 0.4em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.link-menu{
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 20px;
}

.link-menu:hover{
    background-color: whitesmoke;
    color: black;
    font-weight: 800;
    border-radius: 8px;
    border: 1px solid black;
}

/*========================== Corpo ==============================*/


.main-container{
    background-color: var(--Cor-4);
    max-width: 985px;
    margin: 0 auto;
}




/*========================== Rodapé =======================================*/
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > span{
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.5em;
}

.footer{
    margin: auto;
    padding: 0px 10px;
    width: 985px;
    background-color: var(--Cor-5);
    color: black;
    padding: 8px;
    font-size: 0.7em;
    text-align: center;
}


/*========================= Edição de texto ===========================*/

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8em;
    padding: 40px;
    
}


p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    padding: 20px;
    text-align: justify;
    text-indent: 25px;
    line-height: 2.5rem;
}